
<div class="search-result">
    <p class="heading">
        <a href="{{ path('show_page', { 'page_slug': page_slug }) }}">
            {{ title }}
        </a>
        {% if language is defined %}
            ({{ language }})
        {% endif %}
    </p>
    <p class="description">{{ content | truncate(200) }}</p>
    <p class="more">{% trans %}app.search.last_update{% endtrans %} {{ updatedAt | format_datetime }}</p>
</div>
