{% extends 'NekoWiki::layout.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h1>{% trans %}app.search.search{% endtrans %}</h1>
            {{ render(controller('NekoWiki:Search:completeForm', {'content' : query })) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                <i>{% trans %}app.search.does_not_exists{% endtrans %}</i>
                <i>
                    {{- 'app.search.create_the_page_p1'|trans -}}
                    <a href="{{ path('new_page', {'title': query|capitalize}) }}" class="non-existant">{{ query|capitalize }}</a>
                    {{- 'app.search.create_the_page_p2'|trans -}}
                </i>
            </p>

            <h3>{% trans %}app.search.relevant{% endtrans %}</h3>
            {% for page in mainPager %}
                {{ include('NekoWiki:Search:_results_list.html.twig', {'page': page}) }}
            {% else %}
                <p class="nothing-found">{% trans %}app.search.nothing_relevant{% endtrans %}</p>
            {% endfor %}
        </div>
    </div>

    {% if mainPager.count() > 0 %}
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="pagerfanta">
                    {{ pagerfanta(mainPager, 'twitter_bootstrap3') }}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            {% if otherLangPager.count() > 0 %}
                <h3>{% trans %}app.search.in_other_languages{% endtrans %}</h3>
                {% for page in otherLangPager %}
                    {{ include('NekoWiki:Search:_results_list.html.twig', {'page': page, 'language': page.locale }) }}
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock body %}
