{% extends 'NekoWiki::layout.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h1>{% trans %}app.search.search{% endtrans %}</h1>
            {{ render(controller('NekoWiki:Search:completeForm', {'content' : query })) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                <i>{% trans %}app.search.does_not_exists{% endtrans %}</i>
                <i>
                    {{- 'app.search.create_the_page_p1'|trans -}}
                    <a href="{{ path('new_page', {'title': query|capitalize}) }}" class="non-existant">{{ query|capitalize }}</a>
                    {{- 'app.search.create_the_page_p2'|trans -}}
                </i>
            </p>

            <h3>{% trans %}app.search.relevant{% endtrans %}</h3>
            {% for page in pager %}
                <div class="search-result">
                    <p class="heading"><a href="{{ path('show_page', {'page_slug': page.titleSlug}) }}">{{ page.title }}</a></p>
                    <p class="description">{{ page.content|truncate(200) }}</p>
                    <p class="more">{% trans %}app.search.last_update{% endtrans %} {{ page.updatedAt | format_datetime }}</p>
                </div>
            {% else %}
                <p class="nothing-found">{% trans %}app.search.nothing_relevant{% endtrans %}</p>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="pagerfanta">
                {{ pagerfanta(pager, 'twitter_bootstrap3') }}
            </div>
        </div>
    </div>

{% endblock body %}
