<div
    class="{{ not hidden ?: 'hidden' }} lang-form"
    {% if not hidden %}
        data-lang="{{ template is defined ?: translation.locale.vars.value }}"
    {% endif %}
        id="{{ template is not defined ?: 'new-translation-template'|raw }}">

    <div class="form-group">
        {% if template is not defined and translation.title is defined %}
            {{ form_label(translation.title, 'app.page.form.title' | trans({'%lang%': translation.locale.vars.value})) }}
            {{ form_widget(translation.title, { 'attr': { 'class': 'form-control' } }) }}
        {% endif %}
    </div>

    <div class="form-group">
        {% if template is not defined %}
            {{ form_label(translation.content, 'app.page.form.content' | trans({'%lang%': translation.locale.vars.value})) }}
            {{ form_widget(translation.content, { 'attr': { 'class': 'form-control page-content' } }) }}
        {% endif %}
    </div>
    {% if template is not defined %}
        {{ form_widget(translation.locale) }}
    {% endif %}
</div>
